body{
    margin: 50px 100px 50px 100px;
    font-size: 18px;
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
    color:midnightblue;
    background-color:darkkhaki;
h1{
    font-size: 60px;
    color: blue;
    text position: relative;
    }

img{
    align-items:flex-start;
}